
.button_share {
  background-color: $nickel;
  border: 2px;
  border-color: $nickel;
  color: $white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    width: 10%;

    }

.button_coment {
    background-color: $nickel;
    border: 2px;
    border-color: $nickel;
    color: $white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    width: 20%;
    }

.pages__numbers {
  display: inherit;
  background-color: $white;
}

.pages__numbers a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination--prev,
.pagination__numbers--1,
.pagination__numbers--3,
.pagination__numbers--next {
  background-color: $white;
}

.pagination a.active {
  background-color: #121619;
  color: $white;
  border: 1px solid #E7E7E7;
}

.pagination a:hover:not(.active) {background-color: #121619;color: $white;}
