//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$snow: #FAFAFA;
$silver: #A0A0A0;
//Segundo esquema de colores
$fuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//Tercer esquema de colores
$eeire-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía

$roboto:'Roboto', sans-serif;
$play-fair: 'Playfair Display', serif;

//Peso de fuentes

$extra-light: 200;
$light: 300;
$regular: 400;
$bold: 700;
$black-italic: 900;

//Tamaños de fuentes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Textos

$bg-hairstyle: url(../img/post-image.jpg);

//button size

$medium-button:150px;
$small-button:100px;

//button states

//$normal-state:
//$hover-state:
//$focus-state:
