
//Main-section

.bg-hairstyle {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 737px;
}
.text-hair {
  color:$white;
  padding-top: 250px;
  text-align: center;
}

// Segunda sección

.second_section {
  text-align: left;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
}



// Tercera sección

.naomi__section {
  background-color: $white;
}

.naomi__section--img {
 border-radius: 50%;
 padding-top: 30px;
 width: 50%;
 justify-content: flex-end;
}

.nao_thai_name {
  line-height: 30px;
  margin-top: 30px;

}

.third__section--nao {
  margin-bottom: 20px;
}

.text-naomi {
  width: 100%;
}

//Cuarta sección
.pages__numbers {
  background-color: $platinum;
  height: 180px;
}
