
//Main-section

.bg-hairstyle {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 737px;
}
.text-hair {
  color:$white;
  font-family:$play-fair;
  font-weight:$black-italic;
  font-size:$xx-large;
}


// Segunda sección

.second__section {
  text-align: left;
  padding-top: 50px;
  padding-left: 60px;
}
.text_date {
  font-weight: $regular;
  font-size: $extra-light;

}

.second__section p{
  font-weight: $regular;
  font-size:$extra-light;
}







.third_section {
  background-color: $silver;

}

//Cuarta sección

.pages_numbers {
background-color: $silver;
height: 50px;

}
